<%= form_for @photo, :html => { :multipart => true } do |f| %>

<% if @photo.errors.any? %>
	<div id="alert alert--danger">
		<ul>
			<% @photo.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<p>
	<%= f.label :nome, 'Nome da Imagem' %>
	<%= f.text_field :title %>
</p>
<% if @photo.photo? %>
	<%= image_tag @photo.photo.url(:thumb) %>
<% end %>
<p>
	<%= f.label :photo %>
	<%= f.file_field :photo %>
</p>
<p>
	<% if @photo.new_record? %> 
		<%= f.submit "Cadastrar Imagem", :class => "btn" %>
	<% else %>
		<%= f.submit "Editar Imagem", :class => "btn" %>
	<% end %>
</p>

<% end %>

