<h1>Imagens Cadastradas</h1>

<% if flash[:notice] %>
<p class="alert alert-success"><%= flash[:notice] %></p>
<% end %>

<div class="list-images">
	<% if @photos.blank? %>
		<p>Sem imagens cadastradas</p>
	<% else %>
		<% @photos.each do |photo| %>
			<div class="item">
				<div class="thumb">
					<div class="center">
						<%= image_tag photo.photo.url(:thumb) %>
					</div>
				</div>
				<div class="details">
					<%= link_to edit_photo_path(photo), :class => 'button button-primary' do %>
						<i class="icon-pencil"></i>
					<% end %>
					<%= link_to remove_path(photo), data: { confirm: 'Deseja realmente excluir?' }, :class => 'button button-delete' do %>
						<i class="icon-remove"></i>
					<% end %>
				</div>
			</div>	
		<% end %>
	<% end %>
</div>

<div class="form-action">
	<%= link_to 'Cadastrar Nova', new_photo_path, :class => "button button-primary" %>
</div>