<!DOCTYPE html>
<html>
<head>
	<title>Photogallery</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="skip"><a href="#content">Ir para o conteúdo</a></div>
	<header class="header">
		<div class="container">
			<nav>
				<ul>
					<li><%= link_to 'Visualizar Galeria', '/photos/view' %></li>
					<li><%= link_to 'Gerenciar Imagens', photos_path %></li>
				</ul>
			</nav>
		</div>
	</header>
	<main role="main" id="content">
		<div class="container page-content">
			<%= yield %>
		</div>
	</main>

</body>
</html>
